<!DOCTYPE html>
<html>
    <head>
        <tite>About</tite>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <ul id="nav">
            <li class="nav"><a href="/" class="nav">Home</a></li>
            <li class="nav"><a href="/pictures" class="nav">Pictures</a></li>
            <li class="nav"><a href="/about" class="nav" id="active">About</a></li>
            <li class="nav"><a href="/game" class="nav">Game</a></li>
            <li class="nav"><a href="/contact" class="nav">Contact</a></li>
        </ul>
        <br>
        <h1>About:</h1>
        <p>Visit some of my other works:</p>
        <ul>
            <li><a href='https://CrispMediocrePerformance--mike1312maker.repl.co' class ='link'>My other website</a></li>
        </ul>
    </body>
</html>