<!DOCTYPE html>
<html>
  <head>
    <title>My Stunning Website</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <ul id="nav"> 
      <li class="nav"><a href="/" class="nav">Home</a></li>
      <li class="nav"><a href="/pictures" class="nav">Pictures</a></li>
      <li class="nav"><a href="/about" class="nav">About</a></li>
      <li class="nav"><a href="/game" class="nav">Game</a></li>
      <li class="nav"><a href="/contact" class="nav" id="active">Game</a></li>
  </ul>
  <br>
    <h1>Welcome!</h1>
    <p>This page is designed to show off my amazing skills with html, css, and js. Be amazed!</p>
  </body>
</html>
