<!DOCTYPE html>
<html>
    <head>
        <tite>Game</tite>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <ul id="nav">
            <li class="nav"><a href="/" class="nav">Home</a></li>
            <li class="nav"><a href="/pictures" class="nav">Pictures</a></li>
            <li class="nav"><a href="/about" class="nav">About</a></li>
            <li class="nav"><a href="/game" class="nav" id="active">Game</a></li>
        </ul>
        <br>
        <h1>About:</h1>
    </body>
</html>