<!DOCTYPE html>
<html>
  <head>
    <title>My Stunning Website</title>
    <link href="styles.css" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <ul id="nav">
      <li class="nav"><a href="/" class="nav" id="active">Home</a></li>
      <li class="nav"><a href="/pictures" class="nav">Pictures</a></li>
      <li class="nav"><a href="/about" class="nav">About</a></li>
      <li class="nav"><a href="/game" class="nav">Game</a></li>
      <li class="nav"><a href="/contact" class="nav">Contact</a></li>
  </ul>
  <br>
    <h1>Welcome!</h1>
    <p>This page is designed to show off my amazing skills with html, css, and js. Be amazed!</p>
    <hr>
    <p>The history of this site is short. It was made in a single 24 hour window with about 5 hours of work. The code is kinda messey but it works! You would be suprised on
      how difficult it is to find stuff to put on your main page! It is hard! One smart person said once:<blockquote>I like building stuff but that is hard, so I don't</blockquote>
      Oh, how much truth was in that fabulous quote! You are now enlightned!!!!!
    </p>
  </body>
</html>
