<!DOCTYPE html>
<html>
    <head>
        <title>Pictures</title>
        <link href="styles.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        <ul id="nav">
            <li class="nav"><a href="/" class="nav">Home</a></li>
            <li class="nav"><a href="/pictures" class="nav" id="active">Pictures</a></li>
            <li class="nav"><a href="/about" class="nav">About</a></li>
            <li class="nav"><a href="/game" class="nav">Game</a></li>
            <li class="nav"><a href="/contact" class="nav">Contact</a></li>
        </ul>
        <br>
        <h1>Pictures:</h1>
        <p>Welcome to the largest selection of online pictures for sale. We pride ourselves with top notch prices and high availibility.</p>
        <hr>
        <div id='pictures'>
            <p>A stunning mountain lake with beautiful water. On sale for $4000</p>
            <img src='https://th.bing.com/th/id/OIP.ivIGky3EgSIuj_4xmCfLRAHaE8?w=294&h=194&c=7&o=5&dpr=2.25&pid=1.7/'>
            <br>
            <a href='https://www.pexels.com/photo/beautiful-view-of-moraine-lake-2662116/' class ='link'>Visit the artist here</a>
            <p>A beautiful Arizona sunset for only $10,000</p>
            <img src='https://i.ytimg.com/vi/oREkAhwdrWk/maxresdefault.jpg'>
            <br>
            <a href='https://www.youtube.com/watch?v=oREkAhwdrWk/' class ='link'>Visit the artist's youtube here</a>
            <p>A perfect picture for Mother's Day, at a low $1,000,000</p>
            <img src='https://cdn.guidingtech.com/imager/assets/2019/05/227363/crop-picture-shapes-online-fi_4d470f76dc99e18ad75087b1b8410ea9.jpg?1559046829'>
            <br>
            <a href='https://www.guidingtech.com/websites-crop-pictures-shapes-online/' class ='link'>Visit the artist's post here</a>
        </div>
    </body>
</html>